#app {
  .about {
    text-align: center;
    .about-content {
      .about-image-container {
        label {
          width: 100%;
          text-align: center;
        }
      }
      .about-image {
        height: rem(200px);
        width: rem(200px);
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin: 0 auto;
        cursor: pointer;
      }
    }
    button {
      width: rem(130px);
    }
  }
}
