#app {
  .about {
    text-align: center;
    .about-content {
      .about-image {
        background-position: center;
        height: rem(150px);
        width: rem(150px);
        border-radius: 50%;
        margin: rem(20px) auto;
      }
    }
  }
}
