#app {
  .tags-table {
    table-layout: fixed;
    thead {
      &.thead-empty {
        display: none;
      }
      &:first-child {
        tr {
          th {
            border-bottom: none;
            padding: 0;
          }
        }
      }
    }
    th, td {
      border-top: none;
      width: 33.333333333%;
      .btn {
        width: 100%;
        @media(min-width: map_get($grid-breakpoints,'md')) {
          width: 50%;
        }
      }
    }
    th, td:not(.button-container, .no-projects) {
      padding: .75rem 0 .75rem 1.5rem;
    }
    td.project-td-container {
      padding: 0;
      border: none;
    }
  }
  .project-table-container {
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.3s ease-out;

    &.open {
      max-height: 500px;
      transition:max-height 0.3s ease-in;
    }
    .table th {
      &:first-child,
      &:last-child {
        position: relative;
        padding: 0.75rem 1.5rem;
        &:after {
          content: '';
          height: 104%;
          width: .75rem;
          border: 1px solid $body-bg;
          position: absolute;
          top: 0;
          background-color: $body-bg;
        }
      }
      &:first-child {
        &:after {
          left: 0;
        }
      }
      &:last-child {
        &:after {
          right: 0;
        }
      }
    }

    .no-projects {
      font-style: italic;
    }
    .td-control {
      text-align: center;
    }
  }
  .button-container {
    text-align: center;

    .btn.button-undo {
      margin-top: 1rem;
      border: none;

      &.button-hidden {
        background: transparent;
        cursor: auto;
        color: transparent;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .tags-project-toggle {
    height: rem(65px);
    position: relative;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15%;
      display: none;
    }
    @media(min-width: map_get($grid-breakpoints,'xl')) {
      padding-right: 10%;
      i {
        display: inline-block;
      }
    }
    @media(min-width: map_get($grid-breakpoints,'md')) {
      height: auto;
      br {
        display: none;
      }
    }
  }
}

.span-transition-group {
  display: contents;
}

.tags-enter-active,
.tags-leave-active,
.tagProjects-enter-active,
.tagProjects-leave-active {
  transition: opacity .5s;
}
.tags-enter, .tags-leave-to,
.tagProjects-enter, .tagProjects-leave-to{
  opacity: 0;
}
