// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,399,400');

body {
  overflow-x: hidden;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#app {
  h1, h2, h3, h4, h5 {
    font-weight: 100;
    font-family: $themeFont0;
  }
  h2 {
    font-size: rem(40px);
  }
}
