#app {
  .contact-me {
    min-height: rem(660px);

    .contact-enter-active {
      transition: opacity .5s;
    }
    .contact-enter, .contact-leave-to {
      opacity: 0;
    }
  }
  .contact-form {
    input:focus,
    textarea:focus,
    .btn-cta:focus {
      outline: none;
      &:not(.error) {
        border: 1px solid $themeColor5;
        box-shadow: 0 0 10px $themeColor5;
      }
    }
    input,
    textarea {
      &.error {
        box-shadow: none;
        border: 2px solid red;
      }
    }
    label {
      span {
        min-width: rem(100px);
        display: inline-block;
        &.error-message {
          margin: 0 0 0 rem(20px);
          padding: 0 rem(20px);
          //color: $themeColor5;
          background-color: $themeColor6;
          color: $themeColor7;
          font-style: italic;
        }
      }
    }
  }
}
