.navbar-frontend {
  background-color: $themeColor3;
  font-family: $themeFont0;
  color: $themeColor0;
  position: sticky;
  top: 0;
  z-index: 2;

  .navbar-brand {
    h2 {
      font-weight: 100;
      font-size: rem(40px);
    }
  }

  .navbar-toggler-icon {
    background-image: url($hamburger);
  }

  .home-link {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    font-size: 2rem;
    color: $themeColor8;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    display: flex;
    background-color: $themeColor0;
    padding: .5rem;
    text-decoration: none;
    border-radius: 50%;

    &.display {
      visibility: visible;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }

  ul {
    li {
      padding-right: rem(20px);
      padding-bottom: rem(16px);
      font-weight: 400;
      font-size: rem(24px);
      letter-spacing: rem(2px);

      @media(min-width: map_get($grid-breakpoints,'md')) {
        padding-bottom: 0;
        font-size: rem(16px);
      }
    }
  }

  a {
    color: $themeColor0;
  }
}
