.project {
  .admin-edit textarea {
    height: 115px;
  }
  @media(min-width: map_get($grid-breakpoints,'sm')) {
    &.reverse {
      .image-holder {
        order: 2;
      }
      .text-holder {
        order: 1
      }
    }
  }
}

.inline-input {
  @media(min-width: map_get($grid-breakpoints, 'lg')) {
    height: 40px;
  }
}

.project-image {
  height: 230px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}