#app {
  .project-display {
    .project-image-wrap {
      text-align: center;
      box-shadow: 0 0 10px 0 rgba($black,.5);
      margin-bottom: rem(20px);
      min-height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @media(min-width: map_get($grid-breakpoints,'md')) {
        margin-bottom: 0;
      }
    }
    .project-description {
      font-weight: 300;
    }
    .project-links {
      a {
        display: block;
        background-color: $themeColor3;
        color: $themeColor0;
        padding: 5px 20px;
        margin-bottom: rem(20px);
        font-size: rem(16px);
        text-decoration: none;
        max-width: rem(150px);

        i {
          padding-right: rem(10px);
        }

        @media(min-width: map_get($grid-breakpoints,'md')) {
          display: inline-block;
          margin-right: rem(10px);
          margin-bottom: 0;
        }
      }
    }
    h2 {
      font-size: rem(32px);
    }
    img {
      max-width: 100%;
    }
  }
  .projects-enter-active, .projects-leave-active {
    transition: opacity .5s;
  }
  .projects-enter, .projects-leave-to {
    opacity: 0;
  }
}
