.project {
  .admin-edit textarea {
    height: 115px;
  }
  @media(min-width: map_get($grid-breakpoints,'sm')) {
    &.reverse {
      .image-holder {
        order: 2;
      }
      .text-holder {
        order: 1
      }
    }
  }
}

.inline-input {
  @media(min-width: map_get($grid-breakpoints, 'lg')) {
    height: 40px;
  }
}

.links {
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition:max-height 0.3s ease-out;
  padding: 20px 0 0;

  &.open {
    max-height: 500px;
  }
}

.project-image {
  height: 230px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 1rem 0;
  @media(min-width: map_get($grid-breakpoints,'sm')) {
    margin: 0;
  }
}

.project-tag {
    display: inline-block;
    background-color: $blue;
    padding: 0 10px;
    color: $white;
    border-radius: 20px;
    margin: 0 5px 0 0;
    /*&.possible-tag {
        opacity: .5;
    }*/
    i {
        padding: 0 0 0 10px;
    }
    &.possible-tag {
        opacity: .5;
    }
}

.tag-area {
    height: 50px;
    position: relative;
    .tag-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .project-tag,
        input[type="text"] {
            display: inline-block;
        }
        input[type="text"] {
            border: none;
            outline: none;
        }
    }
}
