.navbar-frontend {
  background-color: $themeColor3;
  font-family: $themeFont0;

  .navbar-brand {
    h2 {
      font-weight: 100;
      font-size: rem(40px);
    }
  }
  a {
    color: $themeColor0;
  }
}
